.page-title {
  position: sticky;
  z-index: $zindex-fixed;
  top: 0;
  background: $white;

  @include media-breakpoint-up(md) {
    transform: translateY(110%);
    background: transparent;
  }

  &-text {
    padding-top: $spacer * 2.5;
  }
}
